footer{
  margin-top: -1px;
  padding-top: 45px !important;
  padding-bottom: 112px !important;
  background: #f6f6f6;
  max-width: 500px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  .footer-logo{
    margin-bottom: 35px;
    a{
      color: #131313;
      display: block;
      font-family: Righteous;
      font-size: 40px;
      font-weight: 400;
      letter-spacing: -0.8px;
      margin-bottom: 3px;
    }
    span{
      color: #131313;
      text-align: center;
      font-size: 12px;
      font-weight: 400;
    }
  }
  .footer-medias{
    display: grid;
    grid-template-columns: 125px 183px;
    gap: 15px;
    margin-bottom: 37px;
    .medias{
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 5px;
      a{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 60px;
        background: #fff;
        border-radius: 50px;
      }
    }
    .media-infos{
      div{
        span{
          color: #131313;
          font-size: 12px;
          font-weight: 400;
        }
        h3{
          color: #131313;
          font-size: 19px;
          font-weight: 400;
          width: 189px;
        }
        &:first-child{
          margin-bottom: 24px;
          margin-top: 9px;
        }
      }
    }
  }
  p{
    color: #131313;
    font-size: 13px;
    font-weight: 400;
  }
  .subtitle{
    margin-top: 14px;
    padding-bottom: 26px;
    border-bottom: 1px solid #E4E4E4;
    margin-bottom: 20px;
  }
  .footer-bottom{
    display: flex;
    gap: 20px;
    span{
      color: #131313;
      font-size: 13px;
      font-weight: 400;
    }
  }
}