.poster{
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width:500px;
  width: 100%;
}
.statistic-content{
  display: grid;
  grid-template-columns: auto auto;
  max-width: 480px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 150px;
  padding: 24px 43px 24px 43px;
  border-radius: 12px;
  margin-top: 8px;
  overflow: hidden;
  background-image: url("/profile-background.svg");
  background-color: #fff;
  background-position: bottom;
  background-repeat: no-repeat;
  margin-bottom: 14px;
  gap: 20px;
  h1{
    color: #000;
    font-size: 18px;
    font-weight: 400;
  }
  p{
    color: #000;
    font-size: 11px;
    font-weight: 400;
  }
}
