#train-sliders{
  padding-top: 90px;
  background: #f6f6f6;
  padding-bottom: 38px;
   .title{
     color: #131313;
     font-size: 16px;
     font-weight: 500;
     margin-bottom: 24px;
   }
   .subtitle{
     line-clamp: 4;
   }
}